@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

.landing {
  width: auto;
  height: auto;
  background-image: url("OpenAI.jpg");
  background-position: center;
  background-size: cover;
}


